body { font-family: Verdana,Arial,sans-serif; font-size: 10px; color: #333366;}
td { font-family: Verdana,Arial,sans-serif; font-size: 10px; color: #333366; }
dd { font-size: 10px; color: #333366; }
h1 { font-size: 14px; color: #993333; }
h2 { font-size: 12px; color: #993333; }
a:link { color: #333366 }
a:visited { color: #333366 }
a:hover { color: #666699 }
a:active { color: #9999cc }
